:root {
    --primary  : hsla(117, 21%, 56%, 0.48);
    --secondary: hsla(204, 85%, 61%, 0.48);
}

body {
    /* font-family: monospace; */
    height       : 100vh;
    width        : 100vw;
    margin       : 0;
    font-family  : monospace;
    color        : #ffffff;
    display      : grid;
    place-items  : center;
    place-content: center;

    background: linear-gradient(135deg, var(--primary), var(--secondary)), url(/img/img1.jpg) no-repeat center center / cover;
}

h1 {
    font-size: 6em;
    margin   : 20px;
}

p {
    font-size: 2.5em;
    margin   : 20px;
}

@media screen and (max-width: 400px) {
    p {
        font-size: 18px;
    }

    h1 {
        font-size: 45px;
    }
}